.hero-section{
   min-height: 100vh;
   background-color: transparent;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   margin-top: 7rem;
}
body{
    background-color: #1b1826;
}
section{
    padding: 2.2rem 6rem;
}
.hero-section-title{
    color: white;
    font-size: 2.5rem;
}
.img-container{
    position: relative;
    padding: 1.2rem;
    width: 340px;
    height: 340px;
}
.img-container::after{
    position: absolute;
    inset: 0;
    content: "";
    border-radius: 50%;
    z-index: -1;
    background: hsla(284, 100%, 53%, 1);
    background: linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);  
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BF0FFF", endColorstr="#6710C2", GradientType=1 );
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    animation: rotate 2s linear infinite;
    filter: blur(10px);
}

.img-container img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    /* border: 6px solid rebeccapurple; */
}
.about-me-description{
    color: rgba(242, 243, 244, 0.584);
    font-size: 1.5rem;
    width: 70%;
    line-height: 1.7;
}
.resume-link{
    background: hsla(284, 100%, 53%, 1);
    background: linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);  
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BF0FFF", endColorstr="#6710C2", GradientType=1 );
    color: white;
    display: block;
    width: 200px;
    text-align: center;
    padding: 1rem 2rem;
    font-weight: bolder;
    border-radius: 24px;
    text-decoration: none;
}
.resume-link:hover,
.resume-link:active{
    opacity: 0.8;
    transform: scaleX(1.050);
}

@keyframes rotate{
    to{
        rotate: 360deg;
    }
}