.education-timeline-container{
    width: 100%;
    margin: 100px auto;
    position: relative;
    width: 1500px;
    z-index: 10;
}
.education-timeline-container::after{
    content: "";
    position: absolute;
    top: 0;
    right: 56%;
    height: 0;
    width: 0.5rem;
    background: -webkit-linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);  
    transition: height 3s linear;
    z-index: -1;
}
.education-section:has(.animated-container) .education-timeline-container::after {
    height: 100%; 
}
@keyframes LineAnimation{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}