.module-card{
    width: 500px;
    background-color: #161520;
    border-radius: 1.5rem;
    padding: 1rem;
    position: relative;
    margin-bottom: 3rem;
    color: white;
}
.education-timeline-container .animated:nth-child(even) .module-card{
    transform: translateX(50%);
    right: -50%;
}
 .education-timeline-container .animated::before{
    left: 48.9%;
    z-index: 99;
}
.education-timeline-container .fadeInLeft::before{
    opacity: 0;
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: -webkit-linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);  
    top: 0;
    transform: scale(0);
    border-radius: 50%;
    z-index: 99;
    transition:  all 0.4s ease;
    animation: fade 3s linear 1000ms forwards;
}
@keyframes fade{
   0%{
    opacity: 0;
   }
   100%{
    transform: scale(1);
    opacity: 1;
   }
}
