@media screen and (max-width: 700px) {
    .project-technologies{
        display: flex;
        flex-direction: column;
        padding: 1.1rem;
    }
    .project-technologies li{
       padding-block:  0.4rem;
    }
    .project-title{
        font-size: 1.2rem;
    }
    .description-button{
        font-size: 1.1rem;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .about-project{
        padding: 1rem;
    }
    .resume-link{
        width: 98%;
        padding: 0.6rem 1.2rem;
    }
    .project-description{
        width: 90%;
        font-size: 1rem;
        line-height: 1.6;
    }
    .project-card{
        width: unset;
        padding: 1rem;
    }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
    .description-button{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .project-technologies{
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}