.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(38.73deg, rgba(204, 0, 187, 0.15) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.15) 100%);
    height: auto;
    position: relative;
}

 .loading-section :not(.loading-spinner){
    opacity: 0.4;
}
input:-webkit-autofill,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #181622 inset !important;
    -webkit-text-fill-color: #807e8b;
}
.contact-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191724;
    padding: 4rem 1.5rem;
    border-radius: 12px;
}
.input-container{
    display: flex;
    flex-direction: column;
}
.input-container label{
    font-size: 1.1rem;
    color: white;
    margin-bottom: 0.4rem;
    align-items: flex-start;
    justify-content: space-between;
}
.input-container{
    margin-bottom: 1rem;
    width: 80%;
}
.contact-form :where(input, textarea){
    padding: 0.8rem 0.6rem;
    border-radius: 8px;
    width: 100%;
    background-color: #181622;
    border: 1px solid #807e8b;
    outline: none;
    color: #807e8b;
}
.contact-title{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}
.contact-subtitle{
    font-size: 1.1rem;
    color: #807e8b;
    margin-top: unset;
    margin-bottom: 2rem;
}

.send-message-button{
    width: 80%;
    border: none;
    color: white;
    background: hsla(284, 100%, 53%, 1);
    background: linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(284, 100%, 53%, 1) 40%, hsla(269, 85%, 41%, 1) 100%);  
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BF0FFF", endColorstr="#6710C2", GradientType=1 );
    padding: 0.7rem 1.5rem;
    font-weight: bolder;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: 0.4s ease-in opacity
}
.send-message-button:hover{
    opacity: 0.7;
}
